a {
        transition: all 0.4s ease;
}

.container {
    background-color: #eee;
    width: 90%;
    margin: 0 auto;
}

.main__header {
    padding: 20px 40px;         
}

.main__header ul {
    border-bottom: 1px solid red;
    display: block;
    margin-top: 30px;
    float: none;
    overflow: auto;
    clear: both;
}

.main__header li {
    float: left;
}

.main__header a {
    display: block;
    text-decoration: none;
    padding: 10px 20px;
}

.main__header a:hover {
    background: blue;
    color: white;
}

main (
    clear: both;    
)

aside li{
    float: left;
    width: 18%;
    background-color: #874;
}

section {
    float: right;
    width: 70%;
    background-color: #e97a24;
}